definitions:
  request.LoginRequestDto:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
info:
  contact: {}
paths:
  /v1/auth/login:
    post:
      consumes:
      - application/json
      description: Autentica un usuario mediante email y contraseña
      parameters:
      - description: Credenciales de acceso
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/request.LoginRequestDto'
      produces:
      - application/json
      responses:
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Iniciar sesión de usuario
      tags:
      - Auth
swagger: "2.0"
